doctype html
html 
  head 
     title Rahul Dance Academy
     block scripts 
     block style 
  body 
   
    block content 
     nav#navbar
        ul 
            div#logo
                   img(src="/static/logo1.png")
                   | MR.        
            li #[a(herf="/") Home] 
            li #[a(herf="/") About] 
            li #[a(herf="/contact") Contact]
            li #[a(herf="/") Services]
            
     footer#footer 
         | Copyright 2021 RahulChoudhary.com | All rights reserved     